{% extends 'golive/_layout' %}
{% set plugin = craft.plugins.getPlugin('GoLive') %}
{% set pluginSettings = craft.goLive.getSettings() %}

{% block content %}
  {% import "_includes/forms" as forms %}
  {% if craft.config.environmentVariables['goLive_encryptionKey'] is not defined %}
    <h2 class="error">WAIT! You haven't set an encryption key yet, which means entering passwords here is <strong>not</strong> secure!</h2>
    <p>
      <a class="btn" href="{{ url('golive/key') }}">Set an encryption key now</a>
    </p>
    <hr>
  {% endif %}

  <form action="" method="POST" data-saveshortcut>
    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="pluginClass" value="{{ plugin.classHandle }}">
    <input type="hidden" name="redirect" value="golive/settings">
    {{ getCsrfInput() }}
    <h2 id="local-ssh">Local Server SSH</h2>
    {{ forms.textField({
      class: 'code',
      name: 'settings[ssh][local][hostname]',
      label: 'Local Server SSH Hostname',
      placeholder: 'Enter hostname',
      instructions: 'The hostname or IP address to be used for SSH access to this server (usually <strong>localhost</strong>).',
      value: pluginSettings.ssh.local.hostname is defined ? pluginSettings.ssh.local.hostname : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      name: 'settings[ssh][local][username]',
      label: 'Local Server SSH Username',
      placeholder: 'Enter username',
      instructions: 'The username to use for SSH authentication.',
      value: pluginSettings.ssh.local.username is defined ? pluginSettings.ssh.local.username : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      instructions: 'The password to use for SSH authentication.',
      label: 'Local Server SSH Password',
      name: 'settings[ssh][local][password]',
      placeholder: 'Enter password',
      type: 'password',
      value: pluginSettings.ssh.local.password is defined ?
        craft.goLive.security.decrypt(pluginSettings.ssh.local.password) : ''
    }) }}
    <hr>
    <h2 id="remote-ssh">Remote Server SSH</h2>
    {{ forms.textField({
      class: 'code',
      name: 'settings[ssh][remote][hostname]',
      label: 'Remote server SSH Hostname',
      placeholder: 'Enter hostname',
      instructions: 'The hostname or IP address to be used for SSH access to the Remote server server.',
      value: pluginSettings.ssh.remote.hostname is defined ? pluginSettings.ssh.remote.hostname : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      name: 'settings[ssh][remote][username]',
      label: 'Remote server SSH Username',
      placeholder: 'Enter username',
      instructions: 'The username to use for SSH authentication.',
      value: pluginSettings.ssh.remote.username is defined ? pluginSettings.ssh.remote.username : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      instructions: 'The password to use for SSH authentication.',
      label: 'Remote server SSH Password',
      name: 'settings[ssh][remote][password]',
      placeholder: 'Enter password',
      type: 'password',
      value: pluginSettings.ssh.remote.password is defined ?
        craft.goLive.security.decrypt(pluginSettings.ssh.remote.password) : ''
    }) }}
    <hr>
    <h2 id="remote-mysql">Remote Server MySQL</h2>
    {{ forms.textField({
      class: 'code',
      name: 'settings[mysql][hostname]',
      label: 'MySQL Hostname',
      placeholder: 'Enter hostname',
      instructions: 'The hostname or IP address to be used for MySQL access.',
      value: pluginSettings.mysql.hostname is defined ? pluginSettings.mysql.hostname : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      name: 'settings[mysql][username]',
      label: 'MySQL Username',
      placeholder: 'Enter username',
      instructions: 'The username to use for MySQL authentication.',
      value: pluginSettings.mysql.username is defined ? pluginSettings.mysql.username : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      instructions: 'The password to use for MySQL authentication.',
      label: 'MySQL Password',
      name: 'settings[mysql][password]',
      placeholder: 'Enter password',
      type: 'password',
      value: pluginSettings.mysql.password is defined ?
        craft.goLive.security.decrypt(pluginSettings.mysql.password) : ''
    }) }}
    {{ forms.textField({
      class: 'code',
      instructions: 'The password to use for MySQL authentication.',
      label: 'MySQL Database Name',
      name: 'settings[mysql][dbname]',
      placeholder: 'Enter database name',
      value: pluginSettings.mysql.dbname is defined ? pluginSettings.mysql.dbname : ''
    }) }}
    <hr>
    <input type="submit" value="Save Credentials" class="btn submit">
  </form>
{% endblock %}
